<div class="card">
    <img src="../../../assets/images/trabajos/appPresu.png" alt="">
    <h3>
        Titulo de proyecto
    </h3>
    <p>
        Descripción resumida del proyecto predeterminada, con ella podemos seleccionar y mover los objetos por el Canvas.
    </p>
    <div class="tecnologiesUsed">
        <div class="tag">
            Html
        </div>
        <div class="tag">
            css
        </div>
        <div class="tag">
            javascript
        </div>
    </div>
    <div class="btnsArea">
        <button class="btnProject">Ver proyecto</button>
        <button class="btnCode">Repositorio</button>
    </div>
</div>