<div class="card" id="idCard">
    <img [src]="work.image" alt="{{work.name}}">
    <h3>
        {{work.name}}
    </h3>
    <p>
        {{work.resumen}}
    </p>
    <div class="tecnologiesUsed">
        <div *ngFor="let tech of work.techs" class="tag">
            {{ tech }}
        </div>
    </div>
    <div class="btnsArea">
        <button class="btnProject" (click)="redirectWithDelay(work.urlDeploy)" >Ver proyecto</button>
        <button class="btnCode" (click)="redirectWithDelay(work.urlRepository)" >Ver proyecto</button>
    </div>
</div>