nav, ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--color-text-primary);
}
nav{
    position: relative;
    padding-top: 2rem;
    box-sizing: border-box;
    padding-bottom: 2rem;
}
ul{
    justify-content: space-around;
    text-decoration: none;

}
ul> li{
    list-style: none;   
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
}
ul> li:hover{
    transition: all .3s ease;
    background: var(--color-principal);
}
.menuHide{
    cursor: none;
}
.menuHide{
    cursor: none;
    width: 20%;
}
.menuHide:hover{
    background:none;
}
.toggleBtn{
    display: none;
}
.logo{
    font-size: 3rem;
    position: absolute;
    left: 45%;
    top: 25px;
    transition: all .3s ease;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo:hover{
   transform: scale(1.1,1.1);
}
.hideMenu{
    display: none;
}
@media screen and (max-width: 600px) {
    nav{
        justify-content: space-between;

        width: 100%;
    }
    .menuBar{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        background: var(--color-principal);
        justify-content: flex-start;
        padding-top: 1rem;
    }
    .menuItem{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuHide{
        display: none;
    }
    .logo{
        position: initial;
        font-size: 3rem;
        margin-left: 1rem;
    }
   .toggleBtn{
        display: flex;
        padding: 10px 20px;
        align-items: center;
        cursor: pointer;
        transition: all .3s ease;
        margin-right: 1rem;
   }
   .toggleBtn:hover{
    
    background: var(--color-principal);
    }
 }
 @media screen and (max-width: 900px) {
    ul{
        justify-content: space-between;
    
    }
    
    ul> li{ 
        padding: 10px 15px;   
    }
    .logo{
        font-size: 2rem;
    }
   
 }