nav, ul{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--color-text-primary);
}
nav{
    position: relative;
    padding-top: 2rem;
    height: 130px;
    box-sizing: border-box;
    padding-bottom: 2rem;
}
ul{
    justify-content: space-around;
    text-decoration: none;

}
ul> li.menuItem{
    list-style: none;   
    padding: 5px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
ul> li.menuItem:hover{
    transition: all .3s ease;
    color: var(--color-text-blue);
}
.menuHide{
    width: 20%;
    list-style: none;  
}

.toggleBtn{
    display: none;
}
.logo{
    font-size: 3rem;
    position: absolute;
    width: 150px;
    height: 150px;
    left: 45%;
    top: -15px;
    transition: all .3s ease;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo:hover{
   transform: scale(1.1,1.1);
}

@media screen and (max-width: 600px) {
    nav{
        justify-content: space-between;
        width: 100%;
    }
    .navOpen{
        background: var(--color-principal);
    }
    .menuBar{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 500px;
        background: var(--color-principal);
        justify-content: flex-start;
        padding-top: 1rem;
    }
    .hideMenu{
        display: none;
    }
    .menuItem{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo{
        position: initial;
        font-size: 3rem;
        margin-left: 1rem;
        width: 80px;
        height: 80px;
    }
   .toggleBtn{
        display: flex;
    
        padding: 10px 20px;
        align-items: center;
        cursor: pointer;
        transition: all .3s ease;
        margin-right: 1rem;
        font-size: 28px;
   }
   .toggleBtn:hover{
    
    background: var(--color-principal);
    }
 }
 @media screen and (max-width: 900px) {
    ul{
        justify-content: space-between;
    
    }
    
    ul> li{ 
        padding: 5px 15px;   
    }
    .logo{
        font-size: 2rem;
        left: 40%;
    }
   
 }