footer{
    background: var(--color-principal);
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
    
}
h2{
    width: 100%;
    text-align: center;
    color: var(--color-text-pink);
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.textBlue{
    color:var(--color-text-blue);
    font-weight: bold;
}
.networks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
    margin: 5rem auto;
}
p{
    color: var(--color-text-secondary);
}
.socialLink{
    width: fit-content;
    transition: all .3s ease;
}
.socialLink:hover > i{
    transform: translateY(-5px) scale(1.1,1.1);
}
.socialLink:active> i{
    transform: scale(.9,.9);
    color: var(--color-text-pink);
}
.socialLink>i{
    font-size: 5rem;
    color: var(--color-text-blue);
    transition: all .3s ease;
}