<footer>
    <h2>Contacto</h2>

    <p>Si me ajusto a tus necesidades puedes contactarme a través de mis redes sociales.</p>

    <div class="networks">
        <a href="https://www.facebook.com/Baxx.11.99/" title="facebook_Profile" class="socialLink fb" target="_blank">
            <i class="fa-brands fa-square-facebook "></i>
        </a>
        <a href="https://wa.me/573195183409" class="socialLink wp" title="whatsapp_Messages" target="_blank">
            <i class="fa-brands fa-square-whatsapp"></i>
        </a>
        <a href="https://www.linkedin.com/in/juliancobos-baxx/" class="socialLink lin" title="profile_LinkeInd" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/baxx1199" class="socialLink gh" title="profile_github" target="_blank">
            <i class="fa-brands fa-square-github"></i>
        </a>
        <a href="https://www.instagram.com/baxx11_/" class="socialLink in" title="profile_instagram" target="_blank">
            <i class="fa-brands fa-square-instagram"></i>
        </a>


    </div>
    <p>Creado por <span class="textBlue">Baxx</span> </p>
    <p>2023</p>
</footer>