section{
    background: var(--color-principal);
    padding-top: 3rem;
    padding-bottom: 3rem;
    
}
hr{
    width: 60%;
    height: 5px;
    background: var(--color-border-complementary);
    margin: 2rem auto;
    border: none;
}
h2{
    width: 100%;
    text-align: center;
    color: var(--color-text-pink);
    font-weight: 300;
    font-size: 2rem;
}
h3{
    color: var(--color-text-blue);
    font-weight: 300;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem auto;
}
.container{
    width: 80%;
    padding: 10px 5%;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: space-evenly;
}

@media screen and (max-width: 900px) {
    hr{
        width: 80%;
        margin: 1rem auto;
    }
    .container{
        width: 90%;
        margin: auto;
        gap: 1.8rem;
    }
 }

@media screen and (max-width: 600px) {
    .container{
        width: 100%;
        gap: 1rem;
    }
   
 }