<section>
    <hr>
    <h2>Skills</h2>
    <div class="tecnologies">
        <h3 i18n="techs" *ngIf="currentLanguage=='es'">
            Tecnologías
        </h3>
        <h3 *ngIf="currentLanguage=='en'">
            Technologies
        </h3>

        <div class="container">
            <app-logtech *ngFor="let tech of skills" [tech]="tech"></app-logtech>
        </div>

    </div>
    <div class="knowledges">
        <h3 i18n="knowledge" *ngIf="currentLanguage=='es'">
            Otros conocimientos
        </h3>
        <h3  *ngIf="currentLanguage=='en'">
            Other knowledge
        </h3>
        <div class="container">
            <app-logtech *ngFor="let tech of otherSkill" [tech]="tech"></app-logtech>
        </div>
    </div>
</section>