.techlogo{
    width: fit-content;
    box-sizing: border-box;
    padding: 20px;
}
.techlogo > img{
    width: 120px;
    height: 120px;
}
.techLabel{

    color: var(--color-text-primary);
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 900px) {
    
    .techlogo > img{
        width: 100px;
        height: 100px;
    }
 }

@media screen and (max-width: 600px) {
    .techlogo > img{
        width: 80px;
        height: 80px;
    }
 }