section{
    padding-top: 6.5rem;
    padding-bottom: 2rem;
}
h2{
    width: 100%;
    text-align: center;
    color: var(--color-text-pink);
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}