section{
    background: var(--color-principal);
    padding-top: 6.5rem;
    padding-bottom: 3rem;
    
}
h2{
    width: 100%;
    text-align: center;
    color: var(--color-text-pink);
    font-weight: 300;
    font-size: 2rem;
}
section > div{
    width: 80%;
    margin: 2rem auto;
}
.titleGreat{
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
}
.textBlue{
    color:var(--color-text-blue);
    font-weight: bold;
}
.textPink{
    color: var(--color-text-pink);
    font-weight: bold;
}
.sectionLeft, .sectionRight{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.sectionLeft>div, .sectionRight>p{
    width: 60%;
}
.sectionLeft>div > p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
p{
    color: var(--color-text-secondary);
}
img{
    width: 300px;
}


@media screen and (max-width: 1000px) {
    section > div{
        width: 90%;
    }
    .sectionLeft, .sectionRight{
        width: 100%;
    }
    .sectionLeft>div, .sectionRight>p{
        width: 60%;
    }
    .sectionLeft>div > p{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .sectionRight{
        margin-top: 20px;
    }
    .sectionRight>p{
        width: 60%;
    }
    img{
        width: 200px;
    }
 }

@media screen and (max-width: 600px) {
    section > div{
        width: 100%;
    }
    .sectionLeft>div, .sectionRight>p{
        width: 80%;
        text-align: justify;
    }
    .sectionRight{
        flex-direction: column-reverse;
    }
    p{
        width: 100%;
    }
    img{
        margin-top: 1rem;
        width: 200px;
    }
 }