<section>
    <h2>About me</h2>
    <div>
        <div class="sectionLeft">
            <div>
                <h2 class="titleGreat textBlue">¡ Hola !</h2>
                <p>Mi nombre es <span class="textBlue">Julian Cobos Bautista</span> pero puedes decirme <span
                        class="textBlue">Baxx</span>.
                    Soy desarrollador web Front - End y estudiante de ingeniería de Sistemas y computación, cuento con
                    conocimientos principalmente de <span class="textPink">HTML, CSS, JavaScript</span>.
                </p>
                <p>
                    Resido en Funza - Colombia, Me gusta poder estar en constante aprendizaje y afrontar nuevos retos
                    asi como lograr hacer realidad las ideas y proyectos.
                </p>
            </div>
            <img src="../../../assets/images/code-svgrepo-com.svg" alt="images of a computer" class="animate__animated animate__pulse animate__slow animate__infinite">
        </div>
        <div class="sectionRight">
            <img src="../../../assets/images/soccer-player-svgrepo-com.svg" alt="image of soccer player" class="animate__animated animate__tada animate__slow animate__infinite">
            <p>Dentro de mis hobbies se encuentran la cocina, el dibujo, la lectura y los videojuegos asi como realizar ejercicio y deportes como el futbol.</p>
        </div>
    </div>
</section>